@model PPM.Model.Role

@{
    ViewData["Title"] = "Role Details";
}


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
      <strong>Success!</strong>  @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Failed!.</strong>@TempData["ErrorMessage"]
    </div>
}

<div class="container text-center">
    <h2 class="mb-4 font-weight-bold text-uppercase">Role Details</h2>

    <div class="d-flex justify-content-center">
        @if (Model != null)
    {
        <dl class="row">
            <dt class="col-sm-2">Role ID:</dt>
            <dd class="col-sm-10" style="white-space: nowrap;">@Model.RoleId</dd>

            <dt class="col-sm-2">Role Name:</dt>
            <dd class="col-sm-10">@Model.Name</dd>
        </dl>
        }else
    {
        <p>Project not found.</p>
    }
    </div>

    <div class="mt-3">
        <a asp-controller="ProjectEmployee" asp-action="EmployeesByRole" asp-route-id="@Model.RoleId"
            class="btn btn-info"><i class="bi bi-view-list"></i> View Employees</a>

        <a asp-action="Index" class="btn btn-dark" style="margin-left: 5px;"><i class="bi bi-skip-backward-fill"></i> Back to List</a>
    </div>
</div>
